.container {
  margin: 2.3rem 12.5rem;
}

.container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputContainer {
  position:relative;
}

.searchImage {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.625rem;
  filter: var(--brightness-level);
  height: 1.8rem;
}

input {
  width: 35ch;
  padding: 0.825rem 3.125rem;
  background-color: var(--color-bg-element);
  color: var(--text-color);
  border:none;
  box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.11);
  border-radius: var(--border-radius);
  font-size: 1rem;
}

input:focus {
  outline:none;
}

::placeholder {
  color:var(--text-color);
}

@media (max-width: 1440px) {
  .container {
    margin: 1.563rem 6.25rem;
  }
}

@media(max-width: 1179px){
  .container {
    margin: 1.563rem 7.75rem;
  }
}

@media(max-width:1024px) {
   .container {
    margin: 1.563rem 3.75rem;
  }
}

@media (max-width: 600px) {
  .container {
    margin: 1.7rem 2.75rem;
  }
}

@media(max-width: 480px){
  .container {
    margin: 1.7rem 0.95rem;
    
  }
  input {
    width:28ch;
  }
}
