.container {
  margin: 25px 200px;
  
}

.container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputContainer {
  position:relative;
}

.inputImage {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

input {
  width: 35ch;
  padding: 10px 50px;
  background-color: var(--color-bg-element);
  color: var(--text-color);
  border:none;
  box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.11);
}

input:focus {
  outline:none;
}

::placeholder {
  color:var(--text-color);
}
