.container {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.938rem 12.5rem;
  background-color: var(--color-bg-element);
  box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.11);
}

.title {
  color: var(--text-color);
  font-weight:800;
}

.container h1{
  font-size: 1.25rem;
}

@media (max-width: 1440px) {
  .container {
    padding: 1.563rem 6.25rem;
  }
}

@media(max-width: 1179px) {
  .container {
    padding: 1.563rem 7.75rem;
  }
}

@media(max-width: 1024px) {
  .container {
    padding: 1.563rem 3.75rem;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 1rem 2.75rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1rem 0.95rem;
    width: 100%;
  }
}