.container {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px;
  background-color: var(--color-bg-element);
  box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.11);
}

.title {
  color: var(--text-color);
  font-weight:800;
}

.container h1{
  font-size: 20px;
}
