button {
  display:flex;
  align-items: center;
  gap: 0.313rem;
  font-size: 0.938rem;
  color: var(--text-color);
  font-weight:500;
  cursor:pointer;
  
  border:none;
  background:none;
}
.darkModeImage{
  filter: var(--brightness-level);
  height: 1.8rem;
}

