* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

:root {
  --text-color: hsl(200, 15%, 8%);   /* Light Mode Text */
  --input-color: hsl(0, 0%, 50%);     /* Light Mode Input */
  --body-background: hsl(0, 0%, 99%);  
  --color-element: hsl(0, 100%, 100%);  
  --color-bg-element: white;
  
}

.darkMode {
  --text-color: hsl(0, 100%, 100%);
  --body-background: hsl(207, 26%, 17%);
  --color-bg-element: hsl(209, 23%, 22%);
}

@font-face {
  src: url('./assets/font/NunitoSans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf');
  font-family: 'NunitoSans';

}
body {
  font-family: 'NunitoSans', sans-serif;
  background-color: var(--body-background);
}